@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Poppins', 'sans-serif';
    list-style: none;
    text-decoration: none;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 10%;
    background-color: white;
}

header a img{
    width: 50px;
    height: 50px;
}

.condiciones a {
    color: #2F2F2F;
    font-weight: 600;
    font-style: normal;
}

.titulo h1{
    color: #2F2F2F;
    text-align: center;
    font-weight: 600;
    font-style: normal;
    font-size: 24px; 
    padding: 15px;
}

.titulo{
    margin-top: 100px;
}

.contenido p {
    color: #2F2F2F;
    font-weight: 500;
    font-style: normal;
    text-align: center;
    font-size: 16px; 
    padding: 10px;
}

.contenido {
    margin-top: 10px;
}


.boton {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.boton button {
    background-color: #F9CED4; 
    color: #2F2F2F; 
    font-size: 16px;
    font-weight: bold;
    border: none; 
    padding: 12px 60px; 
    border-radius: 25px; 
    cursor: pointer; 
    transition: 0.3s ease-in-out; 
    margin-left: 15px;
}
.boton button:hover {
    background-color: #F9C0C6; 
}

.img {
    display: flex;
    align-items: flex-start; 
    justify-content: center;  
    position: relative;
}

.img img {
    width: 250px;
    height: 250px;
}
